.container {
  background-color: white;
  box-shadow: 0px 4px 22px rgba(159, 159, 159, 0.15);
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.select {
  border: 1px solid #cbd5e1;
  border-radius: 8px;
}

.select input {
  font-size: 12px;
  font-weight: 500;
  color: #64748b;
}

.legendDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}