.navbar {
  background-color: white;
  border-right: 1px solid #e2e8f0;
  box-shadow: 0px 5px 22px 4px rgba(0, 0, 0, 0.02), 0px 12px 17px 2px rgba(0, 0, 0, 0.03);
  padding: 24px;
  width: 240px;
}

.brand {
  padding: 16px 0;
}

.activeLink {
  background-color: #f97316;
  border-radius: 8px;
  color: white;
}

.activeLink .mantine-NavLink-label {
  color: white;
  font-weight: 600;
}

.activeLink .mantine-NavLink-section {
  color: white;
}

.link {
  border-radius: 8px;
  color: #475569;
}

.link:hover {
  background-color: #f8fafc;
}

.link .mantine-NavLink-label {
  color: #475569;
  font-weight: 600;
  font-size: 14px;
}

.link .mantine-NavLink-section {
  color: #475569;
}

.bottomActions {
  border-top: 1px solid #e2e8f0;
  padding-top: 16px;
}

.logoutLink {
  border-radius: 8px;
  color: #475569;
}

.logoutLink:hover {
  background-color: #f8fafc;
}

.logoutLink .mantine-NavLink-label {
  color: #475569;
  font-weight: 600;
  font-size: 14px;
}

.logoutLink .mantine-NavLink-section {
  color: #475569;
}