.filtersContainer {
  background: white;
  border: 1px solid #e2e8f0;
  width: 100%;
}

.searchInput {
  min-width: 300px;
}

.categoryTabs {
  width: 100%;
}

.categoryTabsButton:hover {
  background-color: var(--mantine-color-orangeLight-2) !important;
}